
*
{
    box-sizing: border-box;
}

body
{
    background: black;
    color: white;
}

.container
{
    border: 2px dashed white;

}

#title
{
    background: lightcoral;
    color: red;
}

#imagedisplay img
{
 width: 100%;
 height: 100%;
}

